{% extends "layout.html" %}

{% block title %}
    Register for {{ event.title }}
{% endblock %}

{% block content %}
    <div class="min-h-screen bg-gray-900 flex justify-center items-center p-6">

        <div class="bg-gray-300 p-8 shadow-xl rounded-lg w-full max-w-lg border-t-4 border-orange-500">
            <!-- Popup message container (hidden by default) -->
            {% if messages %}
            <div id="popup-message" class="mb-4 bg-gray-800 text-white p-4 rounded-lg shadow-md flex justify-between items-center">
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
                <button onclick="document.getElementById('popup-message').style.display='none'" class="text-white font-bold">&times;</button>
            </div>
            {% endif %}

            <h2 class="text-3xl font-extrabold text-orange-500 mb-6 text-center">Register for {{ event.title }}</h2>

            <form method="post" action="{% url 'event:register_user' event.id %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-black font-semibold mb-2">Name</label>
                    <input type="text" name="name" required class="w-full px-4 py-2 border rounded-lg shadow-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-75">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2">Email</label>
                    <input type="email" name="email" required class="w-full px-4 py-2 border rounded-lg shadow-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-75">
                </div>

                <div class="mb-6">
                    <label class="block text-gray-700 font-semibold mb-2">Phone Number</label>
                    <input type="text" name="phone" required class="w-full px-4 py-2 border rounded-lg shadow-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-75">
                </div>

                <div class="col-span-2 flex justify-center space-x-4">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md w-full transition duration-300">
                        Register Now
                    </button>
                
                    <a href="{% url 'event:event_details' event.id %}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md w-full transition duration-300">
                        Cancel
                    </a>
                </div>              
            </form>
        </div>
    </div>
{% endblock %}
